@model PokemonExtraLifeApiCore.Models.Dashboard.GamesModel

<script src="~/js/Dashboard/Games.js"></script>

<div id="GamesSection">
    <form method="post" data-ajax="true" data-ajax-url="/Dashboard/UpdateGames" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="GamesSection">
        <h3>Games!</h3>
        <div>
            @Html.LabelFor(m => m.CurrentGame)
            @Html.TextBoxFor(m => m.CurrentGame)
        </div>
        <div>
            @Html.LabelFor(m => m.NextGame)
            @Html.TextBoxFor(m => m.NextGame)
        </div>
        <div>
            @Html.LabelFor(m => m.FollowingGame)
            @Html.TextBoxFor(m => m.FollowingGame)
        </div>
        <div>
            <button type="button" onclick="ShiftGames()">Shift Games "Up"</button>
            <button type="submit">Update Games</button>
        </div>
    </form>
</div>